@model TShopSolution.ViewModels.System.Users.UserDeleteRequest

@{
    ViewData["Title"] = "Xóa nguời dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Xóa nguời dùng</h1>
    <div class="card mb-4">
        <div class="card-body">
            <a asp-action="Index" class="btn btn-success">Quay về </a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
           Thông tin Id
        </div>
        <div class="card-body">
            <h3>Bạn có chắc muốn xóa không?</h3>
            <a asp-action="Index" class="btn btn-success">Không </a>
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input asp-for="Id" type="hidden" />
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>